.required{
  color: red;
  margin-left: 29px;
}

.splitleft {
  float: left;
  width: 50%;
  position: fixed;
  left: 30px;
  color: #ffe600;
}

.spacing {
  width: 100px;
  white-space: normal;
  text-align: right;
  margin-right: 8px;
}


.standardwidth {
  width: 300px;
}

button, input, select {
  background-color: #010382;
  border: 2px solid #ffe600;
  color: #ffe600;
  font-size: 40px;
  width: 30%;
}

.normal {
  background-color: #000000;
  border: 2px solid #ffe600;
  color: #ffe600;
  height: 120px;
  width: 160px;
  width: 160px;
  border-radius: 4px;
  margin-left: 50px;
}

.success {
  background-color: #4dff00;
  border: 2px solid #15b800;
  color: #ffffff;
  border-radius: 4px;
  height: 30px;
  width: 140px;
  margin-left: 50px;
}
