img{
  max-width: 150px;
  max-height: 150px;
  width: auto;
  height: auto;
}

table.table-bordered > thead > tr > th {
  border: 2px solid black;
}

table.table-bordered > tbody > tr > td {
  border: 2px solid black;
}
