<div class="dialog">
  <button class="exitbutton" (click)="onNoClick()">X</button>
  <div class="splitleft">
    <button (click)="openCameraDialog()">Take Image</button>
    <label class="leftrightmargin">or</label>
    <input #picture type="file" accept="image/*" (change)="preview(picture.files)" style="display: none">
    <button (click)="picture.click()">Choose Image</button><br /><br /><br />
    <div style="position: relative; height:234px; width:234px; ">
      <img [src]="this.fishInEdit.Image" onload="this.style.display=''" onerror="this.style.display='none'" />
      <button (click)="removeImage()" [hidden]="!imageAvailable" class="removebutton">X</button>
    </div>
    <label>{{validFishLabel}}</label><br />

    <label>Valid</label>
    <input [(ngModel)]="this.fishInEdit.IsValid" class="leftmargin" type=checkbox><br /><br />

    <label>Weight (Lbs):</label><br />
    <input [(ngModel)]="this.fishInEdit.Weight" type=text placeholder="Weight" class="standardwidth">
    <label class="required">{{weightLabel}}</label><br /><br />

    <label>Length (in):</label><br />
    <input [(ngModel)]="this.fishInEdit.Length" type=text placeholder="Length" class="standardwidth">
    <label class="required">{{lengthLabel}}</label><br /><br />

    <label>Fin Clips:</label><br />
    <select #finOptionSelect class="standardwidth">
      <option value='Unspecified' (click)="selectedOption(true)" [selected]="this.fishInEdit.FinClip == 'Unspecified'">Unspecified</option>
      <option value='Fins Clipped' (click)="selectedOption(false)" [selected]="this.fishInEdit.FinClip == 'Fins Clipped'">Fins Clipped</option>
      <option value='No Fins Clipped' (click)="selectedOption(true)" [selected]="this.fishInEdit.FinClip == 'No Fins Clipped'">No Fins Clipped</option>
    </select><br /><br />
    <select #clipSelect class="standardwidth" [disabled]="valueSelected">
      <option *ngFor="let clip of finClips" value='{{clip}}' [selected]="this.fishInEdit.FinsClipped == clip">{{clip}}</option>
    </select>
  </div>

  <div class="splitright">
    <label>Tournament:</label><br />
    <select #tournamentSelect class="standardwidth" [disabled]="this.request.noTournamentsAvailable">
      <option *ngFor="let tournament of this.request.tournaments" (click)="filterTournament(tournamentSelect.value)" [selected]="this.fishInEdit.TournamentId == tournament.Id" value='{{tournament.Id}}'>{{tournament.Name}}</option>
    </select><br /><br />

    <label>Boat:</label><br />
    <select #boatSelect class="standardwidth" [disabled]="this.request.noBoatsAvailable">
      <option *ngFor="let boat of this.request.boats" (click)="filterBoat(boatSelect.value)" [selected]="this.fishInEdit.BoatId == boat.Id" value='{{boat.Id}}'>{{boat.Name}}</option>
    </select><br /><br />

    <label>Caught By:</label><br />
    <select #memberSelect class="standardwidth" [disabled]="this.request.noBoatsAvailable || this.request.noMembersAvailable">
      <option *ngFor="let member of this.request.members" [selected]="this.fishInEdit.MemberId == member.Id" value='{{member.Id}}'>{{member.Name}}</option>
    </select><br /><br />

    <label>Station:</label><br />
    <select #stationSelect class="standardwidth" [disabled]="this.request.noStationsAvailable">
      <option *ngFor="let station of this.request.stations" [selected]="this.fishInEdit.StationNumber == station.Id" value='{{station.Id}}'>{{station.Id}} : {{station.Port}}</option>
    </select><br /><br />

    <label>Species:</label><br />
    <select #speciesSelect class="standardwidth">
      <option *ngFor="let fish of fishes" [selected]="this.fishInEdit.Species == fish" value='{{fish}}'>{{fish}}</option>
    </select><br /><br />

    <label>Tagged:</label>
    <input [(ngModel)]="this.fishInEdit.HasTag" (click)="clearSampleTag()" class="leftmargin" type=checkbox><br />

    <input [disabled]="!this.fishInEdit.HasTag" [(ngModel)]="this.fishInEdit.SampleNumber" class='standardwidth' placeholder="Sample Number" type=text>
    <label class="required">{{sampleLabel}}</label><br /><br />

    <label>Port Name:</label><br />
    <input [(ngModel)]="this.fishInEdit.Port" type=text placeholder="Port" class="standardwidth"><br /><br />

    <label>Date Caught:</label><br />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker touchUi #picker></mat-datepicker>
    <input (click)="picker.open()" [matDatepicker]="picker" [value]="dateCaught" class="short" [max]="currentDate" readonly><br /><br />
  </div>
  <button class="saveButton" [disabled]="this.request.noBoatsAvailable || this.request.noTournamentsAvailable || this.request.noStationsAvailable || this.request.noMembersAvailable" (click)="saveChanges(speciesSelect.value, picker._validSelected, clipSelect.value, finOptionSelect.value, tournamentSelect.value, boatSelect.value, memberSelect.value, stationSelect.value)">Save Changes</button>
  <button class="deleteButton" (click)="deleteFish()" [disabled]="this.fishInEdit.IsValid">Delete Entry</button>
</div>
