<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h1 class="yellowTitle">Fish Entries</h1>
<br>
<div class="dropdown">
  <button id="speciesButton" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Fish Species</button>
  <ul id="speciesDropDown" class="dropdown-menu" role="menu" aria-labelledby="menu1">
    <li role="presentation"><a role="menuitem" href="#">All Species</a></li>
    <li role="presentation"><a role="menuitem" href="#">Atlantic Salmon</a></li>
    <li role="presentation"><a role="menuitem" href="#">Brown Trout</a></li>
    <li role="presentation"><a role="menuitem" href="#">Chinook Salmon</a></li>
    <li role="presentation"><a role="menuitem" href="#">Coho Salmon</a></li>
    <li role="presentation"><a role="menuitem" href="#">Lake Trout</a></li>
    <li role="presentation"><a role="menuitem" href="#">Rainbow Trout</a></li>
    <li role="presentation"><a role="menuitem" href="#">Sauger</a></li>
    <li role="presentation"><a role="menuitem" href="#">Walleye</a></li>
    <li role="presentation"><a role="menuitem" href="#">Yellow Perch</a></li>
  </ul>
</div>
<div class="dropdown">
  <button id="tournamentFilter" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Tournament Filter</button>
  <ul id="tournamentDropDown" class="dropdown-menu" role="menu" aria-labelledby="menu1">
    <li *ngFor="let tournament of tournaments" role="presentation">
      <a role="menuitem" href="#" (click)="newTournamentFilter(tournament.Name)">{{ tournament.Name }}</a>
    </li>
  </ul>
</div>
<div class="dropdown">
  <button id="boatFilter" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Boat Filter</button>
  <ul id="boatDropDown" class="dropdown-menu" role="menu" aria-labelledby="menu1">
    <li role="presentation"><a role="menuitem" href="#" (click)="newBoatFilter('All Boats')">All Boats</a></li>
    <li *ngFor="let boat of boats" role="presentation">
      <a role="menuitem" href="#" (click)="newBoatFilter(boat.Name)">{{ boat.Name }}</a>
    </li>
  </ul>
</div>
<button class="btn btn-default" type="button" (click)="resetFilters()">Reset Filters</button>
<br />
<br />
  <div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-hover table-sm mb-0">
      <thead class="yellowHeader">
        <tr>
          <th>Image</th>
          <th (click)="sortBy('Species')">Species<i id="speciesCaret" class="fa fa-caret-up"></i></th>
          <th (click)="sortBy('Weight')">Weight<i id="weightCaret" class="fa fa-caret-up"></i></th>
          <th (click)="sortBy('Length')">Length<i id="lengthCaret" class="fa fa-caret-up"></i></th>
          <th (click)="sortBy('Number')">Sample Number<i id="numberCaret" class="fa fa-caret-up"></i></th>
          <th (click)="sortBy('Date')">Date Caught<i id="dateCaret" class="fa fa-caret-up"></i></th>
          <th (click)="sortBy('Valid')">Is Valid?<i id="validCaret" class="fa fa-caret-up"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let fish of fishes" class="yellowFont">
          <td><img src="{{ fish.Image }}" /></td>
          <td>{{ fish.Species }}</td>
          <td>{{ fish.Weight }}</td>
          <td>{{ fish.Length }}</td>
          <td>{{ fish.SampleNumber }}</td>
          <td>{{ fish.Date }}</td>
          <td>{{ fish.isValid }}</td>
        </tr>
      </tbody>
    </table>
  </div>
