<h2 class="yellowTitle">Register Boat to Tournament</h2>

<div class="splitright">

  <label>Tournament:</label><br />
  <select #tournamentSelect [disabled]="this.request.noTournamentsAvailable" class="standardwidth moveright">
    <option *ngFor="let tournament of this.request.tournaments" (click)="filter(tournamentSelect.value)" value='{{tournament.Id}}'>{{tournament.Name}}</option>
  </select><br />

  <label>Boat Name:</label><br />
  <input [(ngModel)]="boatName" type=text placeholder="Name" class="standardwidth moveright"><label class="required">{{nameLabel}}</label><br />

  <label>Boat Number:</label><br />
  <input [(ngModel)]="boatId" type=text placeholder="Number" class="standardwidth moveright"><label class="required">{{idLabel}}</label><br />

  <label>Length:</label><br />
  <input [(ngModel)]="boatLength" type=text placeholder="Length (ft)" class="standardwidth moveright"><label class="required">{{lengthLabel}}</label><br />
  <label>Members:</label><label class="required">{{membersLabel}}</label>
  <div style="margin-left:34px;">
    <label>Name:</label><label style="margin-left:158px;">Age:</label><label style="margin-left:144px;">Captain:</label><br />
    <table class="moveright">
      <tbody>
        <tr *ngFor="let member of members; let i = index">
          <td><input type="text" placeholder="Name" style="margin-right: 20px;" class="standardwidth" [(ngModel)]="member.Name"></td>
          <td><input type="text" placeholder="Age" style="margin-right: 20px;" class="standardwidth" [(ngModel)]="member.Age"></td>
          <td><input type="radio" style="margin-right: 20px;" name="captain" (change)="selectedCaptain(i)"></td>
          <td><button class="removemember" (click)="removeMember(i)">X</button></td>
        </tr>
      </tbody>
    </table>

    <button class="addmember moveright" (click)="addMember()">+</button>
  </div><br />

  <button [disabled]="submissionInProcess" (click)="createBoat(tournamentSelect.value)" class="btn btn-brand btn-sm btn-facebook mr-1" style="margin-bottom: 4px">{{subText}}</button>
</div>
