<header *ngIf="currentUser">
  <div class="headRectangle">
    <button [routerLink]='["/"]'>Home</button>
    <button *ngIf="this.currentUser.AccessLevel == 1" [routerLink]='["/data_entry"]'>Fish</button>
    <button *ngIf="this.currentUser.AccessLevel == 1" [routerLink]='["/boat"]'>Boat</button>
    <button *ngIf="this.currentUser.AccessLevel == 1" [routerLink]='["/station"]'>Station</button>
    <button *ngIf="this.currentUser.AccessLevel == 1" [routerLink]='["/tournament"]'>Tournament</button>
    <button [routerLink]='["/checkIn"]'>Check In</button>
    <button class="toprightexit" (click)="logout()">Log Out</button>
  </div>
</header>
