.required{
  color: red;
  margin-left: 20px;
}

body{
  background-color: peachpuff;
}

select{
  margin-left: 105px;
}

.spacing {
  width: 100px;
  white-space: normal;
  text-align: center;
  margin-right: 4px;
}

img{
  max-width:250px;
  max-height:250px;
  width:auto;
  height:auto;
}
