<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.13.5/dist/tf.min.js"></script>
<script type="module">
  import { Toast } from 'coreui.esm.min.js'
  Array.from(document.querySelectorAll('.toast'))
    .forEach(toastNode => new Toast(toastNode))
</script>
<h2 class="yellowTitle">Enter Fish to Database</h2>
<div class="splitright">
  <button (click)="openDialog()" class="btn btn-primary">Take Image</button>
  <label class="leftrightmargin">or</label>
  <input #picture type="file" accept="image/*" (change)="preview(picture.files)" style="display: none">
  <button (click)="picture.click()" class="btn btn-primary">Choose Image</button><br /><br /><br /><br />
  <div style="position: relative;">
    <img [src]="base64" onload="this.style.display=''" onerror="this.style.display='none'" class="moverightbutton" />
    <button (click)="removeImage()" [hidden]="!imageAvailable" class="removeimage">X</button>
  </div>
  <label [class]="fishLabelStyle">{{validFishLabel}}</label>
  <canvas id="canvas" hidden></canvas>
</div>

<div class="splitleft">
  <label>Weight:</label><label style="margin-left:170px;">Length:</label><br />
  <input [(ngModel)]="weight" type=text placeholder="Weight (Lbs)" class="moveright standardwidth">
  <input [(ngModel)]="length" type=text placeholder="Length (in)" class="moveright standardwidth" style="margin-left:45px;"><br />
  <label style="margin-left:60px;" class="required">{{weightLabel}}</label><label style="margin-left:110px;" class="required">{{lengthLabel}}</label><br />

  <label>Species:</label><label style="margin-left: 170px;">No Fin Clips:</label><input type="checkbox" style="margin-left:10px;" [(ngModel)]="noClips" /><br />
  <select #speciesSelect class="moveright standardwidth" id="SpeciesSelecter">
    <option *ngFor="let fish of fishes" value='{{fish}}'>{{fish}}</option>
  </select>
  <input [(ngModel)]="finClips" class="standardwidth" style="margin-left:45px;" placeholder="Fins Clipped" type=text>
  <br /><br />

  <label>Tournament:</label><label style="margin-left:125px;">Station:</label><br />
  <select #tournamentSelect [disabled]="this.request.noTournamentsAvailable" class="moveright standardwidth">
    <option *ngFor="let tournament of this.request.tournaments" (click)="filterTournament(tournamentSelect.value, juniorCheckbox.checked)" value='{{tournament.Id}}'>{{tournament.Name}}</option>
  </select>
  <select style="margin-left:45px;" #stationSelect [disabled]="this.request.noStationsAvailable" class="moveright standardwidth">
    <option *ngFor="let station of this.request.stations" value='{{station.Id}}'>{{station.Id}}: {{station.Port}}</option>
  </select><br />

  <label>Boat:</label><label style="margin-left:195px;">Caught By:</label><label style="margin-left:100px;">Junior: </label><br />
  <select #boatSelect [disabled]="this.request.noBoatsAvailable" style="margin-left:60px;" class="standardwidth">
    <option *ngFor="let boat of this.request.checkedInBoats" (click)="filterMembers(boatSelect.value, juniorCheckbox.checked)" value='{{boat.Id}}'>{{boat.Name}}</option>
  </select>
  <select #memberSelect [disabled]="this.request.noMembersAvailable || this.request.noBoatsAvailable" style="margin-left:45px;" class="standardwidth">
    <option *ngFor="let member of this.request.members" value='{{member.Id}}'>{{member.Name}}</option>
  </select>
  <input #juniorCheckbox type="checkbox" class="switch-input" style="margin-left: 20px;" (change)="filterMembers(boatSelect.value, juniorCheckbox.checked)">
  <br /><br />
  <label>Tagged:</label> <input [(ngModel)]="hasTag" style="margin-left:10px;" type=checkbox> <label style="margin-left: 150px;">Port Name:</label><br />
  <input [(ngModel)]="sampleNumber" style="margin-left:60px;" class='standardwidth' placeholder="Sample Number" type=text><label class="required">{{sampleLabel}}</label>
  <input [(ngModel)]="port" type=text placeholder="Port" style="margin-left: 30px;" class="standardwidth"><br /><br />

  <label>Date Caught:</label><br />
  <mat-datepicker-toggle class="moveright" matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker touchUi #picker></mat-datepicker>
  <input (click)="picker.open()" [matDatepicker]="picker" [value]="currentDate" class="short" [max]="currentDate" readonly><br /><br />
  <button [disabled]="submissionInProcess" (click)="createFish(speciesSelect.value, picker._validSelected, stationSelect.value, tournamentSelect.value, boatSelect.value, memberSelect.value)" [class]="subStyle">Submit</button>
</div>


