.required{
  color: red;
  margin-left: 29px;
}

.splitleft {
  float: left;
  position: fixed;
  width: 50%;
  left: 40px;
  color: #ffe600;
}


.splitright {
  float: right;
  width: 50%;
  color: #ffe600;
  margin-top: 80px;
}


.spacing {
  width: 130px;
  white-space: normal;
  text-align: right;
  margin-right: 8px;
}

.standardwidth{
  width: 330px;
}

button, input, select {
  background-color: #010382;
  border: 2px solid #ffe600;
  color: #ffe600;
  font-size: 40px;
  width: 30%;
}

.normal {
  background-color: #000000;
  border: 2px solid #ffe600;
  color: #ffe600;
  height: 60px;
  width: 150px;
  border-radius: 4px;
  margin-left: 80px;
}

.moveright {
  margin-left: 98px;
  height: 70px;
  width: 70px;
  font-size: 50px;
}

.leftrightmargin{
  margin-left: 16px;
  margin-right: 16px;
}

.moverightbutton{
  margin-left:45px;
}

.success {
  background-color: #4dff00;
  border: 2px solid #15b800;
  color: #ffffff;
  border-radius: 4px;
  height: 30px;
  width: 100px;
  margin-left: 80px;
}

.short{
width: 220px;
}

.yellow {
  color: #ffe600;
}

input:disabled {
  border: 2px solid #5c5c5c;
}

img {
  width: auto;
  height: auto;
  max-height: 250px;
  max-width: 250px;
}

.positioning {
  position: relative;
}

.removebutton {
  position: absolute;
  height: 30px;
  width: 30px;
  top: -15px;
  left: 30px;
  color: #0f0f0f;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #0f0f0f;
  background-color: rgba(222,222,222,0.7);
}

.container {
    height: 70px;
    width: 70px;
}
